{% extends 'base_card.html.twig' %}

{% block title %}Changement de mot de passe{% endblock %}

{% block importmap %}
    {{ importmap(['app', 'security']) }}
{% endblock %}

{% block container %}
    <div class="row mb-5">
        <div class="offset-md-3 col-md-6 offset-lg-4 col-lg-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><div class="badge bg-label-danger rounded"><i class='bx bx-key fs-3 p-1'></i></div>
                        Définition de votre mot de passe</h4>

                    {% if utilisateur %}
                        {% if not form.vars.valid %}
                            <div class="alert alert-danger">
                                <i class="fa-solid fa-lg fa-exclamation-triangle"></i>
                                Votre saisie comporte des erreurs. Veuillez corriger.

                                {{ form_errors(form) }}
                            </div>
                        {% endif %}

                        <p>Bienvenue {{ utilisateur }}.<br />Veuillez définir votre mot de passe :</p>

                        <form id="frm_passord" method="post" action="{{ path('security_app_password', {'token': utilisateur.token}) }}" role="form">
                            {% if not form.vars.valid %}
                                <div class="alert alert-danger p-2">{{ form_errors(form.password.first) }}{{ form_errors(form.password) }}</div>
                            {% endif %}

                            <div class="input-group mt-2">
                                <span class="input-group-text"><i class="fa-solid fa-key fa-lg fa-fw"></i></span>
                                {{ form_widget(form.password.first, {'attr': {'placeholder': 'Mot de passe'}}) }}

                                    <span class="input-group-text"><a href="#" data-id="security_password_password_first" class="password_view"><i class="fa-solid fa-eye"></i></a></span>

                            </div>

                            <div class="input-group mt-2">
                                <span class="input-group-text"><i class="fa-solid fa-user fa-key fa-lg fa-fw"></i></span>
                                {{ form_errors(form.password.second) }}
                                {{ form_widget(form.password.second, {'attr': {'placeholder': 'Vérification du mot de passe'}}) }}
                                <span class="input-group-text"><a href="#" data-id="security_password_password_second" class="password_view"><i class="fa-solid fa-eye"></i></a></span>
                            </div>

                            <div class="progress mt-2">
                                <div id="strengthBar" class="progress-bar progress-bar-striped bg-danger" role="progressbar"
                                     style="width: 0;" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                            <div class="progress-bar-txt" id="progress-bar-txt" style="font-weight: bold"></div>

                            <div id="captcha" data-label="false" class="mt-2"></div>

                            {{ form_rest(form) }}

                            <div class="mt-2 text-center">
                                <button type="submit" class="btn btn-success"><i class="fa-solid fa-check"></i> Valider</button>
                                <a href="{{ path('security_login') }}" role="button" class="btn btn-outline-secondary"><i class="fa-solid fa-sign-out-alt"></i> Annuler</a>
                            </div>
                        </form>

                        <blockquote class="bd-callout-warning font-italic mt-4">
                            Votre mot de passe doit respecter les règles suivantes :<br />
                            - Contenir au moins 12 caractères<br />
                            - Contenir au moins une majuscule<br />
                            - Contenir au moins une minuscule<br />
                            - Contenir au moins un chiffre<br /><br />

                            <span class="text-justify">
                <strong>Conseil :</strong> Accoler des noms communs ou faire des phrases est une technique robuste et facilite la mémorisation.<br />
                <u>Exemple</u> : "Je sais que je ne sais (3x) rien."<br /><br />
                Vous pouvez également <a href="https://www.cnil.fr/fr/les-conseils-de-la-cnil-pour-un-bon-mot-de-passe"
                                         target="_blank"><strong>consulter les conseils de la CNIL</strong></a> pour élaborer un bon mot de passe.
            </span>
                        </blockquote>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
